NEXT_PUBLIC_BASE_URL="https://api.indianphilanthropy.org/api/frontend/"
NEXT_PUBLIC_STORAGE_URL="https://api.indianphilanthropy.org/"
NEXT_PUBLIC_GTM_ID="G-86Z0JME6ZS"
NEXT_PUBLIC_CLOUDFLARE_SITE_KEY="0x4AAAAAABlBslM4SaOWOkZf"
