# Environment files with sensitive data
**/.env
**/.env.*
**/env.js

# Build artifacts
**/.next
**/dist
**/build

# Dependencies
**/node_modules

# Logs
**/logs
**/*.log

# Uploads
**/uploads

# OS files
**/.DS_Store
